<% layout("/layouts/boilerplate.ejs") -%>

<body>
    <h1 style="padding: 1rem 0px;">All Listings</h1>
    <!-- <form action="/listings/new" method="GET">
        <button>Create new Listing</button>
    </form> -->

    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
        <% for (let listing of allListing) { %>
            <a class="listing-link" href="/listings/<%= listing._id %>">
            <div class="card ">
                <img src="<%= listing.image %>" class="card-img-top" style="height: 17rem;" alt="Image of <%= listing.title %>">
                <div class="card-img-overlay">
                  </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= listing.title %>
                    </h5>
                    <p class="card-text">
                        ₹ <%= listing.price.toLocaleString("en-IN") %>/night
                    </p>
                </div>
                
            </div>
        </a>
        <% } %>
    </div>
</body>
